@(lists: views.CadastrarPacienteModelView)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>SafePrescription - Cadastrar Paciente</title>

    <link rel="icon" href="@routes.Assets.at("/public/images/", "favicon.gif")" type="image/x-icon"/>
    <link rel="shortcut icon" href="@routes.Assets.at("/public/images/", "favicon.gif")" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/", "styles.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/","bootstrap-theme.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/","bootstrap.css")"/>

    <script type="text/javascript" src="@routes.Assets.at("/public/javascripts/", "jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("/public/javascripts/", "bootstrap.js")"></script>
    		
  </head>

  <body>
  	
    <!--start container-->
    <div id="container">

      <!--start header-->
      <header>  
        <!--start logo-->
        <a href="index" id="logo"><img src="@routes.Assets.at("/public/images/", "logo.png")" alt="logo"/></a> 
      	<!--end logo-->
  	
        <!--start menu-->
      	<nav>
          <ul>
            <li><a href="cadastrar_paciente" class="current">Cadastrar Paciente</a></option>
          	<li><a href="prescrever_medicamento">Prescrever Medicações</a></option>
          </ul>
        </nav>
        <!--end menu-->
      
    	</header>
      <!--end header-->

      <!--start intro-->
      <div class="intro-2" >
            @if(lists.ok=="ok"){
            <div class="alert alert-success" role="alert">Paciente cadastrado com sucesso </div>
            }
            @if(lists.ok=="error"){
            <div class="alert alert-danger" role="alert">Paciente com mesmo CPF já cadastrado</div>
            }
            <h3 class="titulo">Cadastrar Paciente</h3>
            <form method="post" action="salvar_paciente">

              <!--Informações Básicas-->
              <h4 class="titulo-sessao">Informações Básicas</h4>

              <input id="nome_input" name="nome" type="text" class="form-control spacing" placeholder="Nome do Paciente">

              <div class="row spacing">
                <div class="col-lg-3">
                  <input id="cpf_input" name="cpf" type="text" class="form-control" placeholder="CPF">
                </div>
                <div class="col-lg-3">
                  <input id="data_nasc_input" name="data_nasc" type="text" class="form-control" placeholder="Data de Nascimento">
                </div>
                <div class="col-lg-3">
                  <input id="tel_celular_input" name="tel_celular" type="text" class="form-control" placeholder="Telefone Celular">
                </div>
                <div class="col-lg-3">
                  <input id="tel_fixo_input" name="tel_fixo" type="text" class="form-control" placeholder="Telefone Fixo">
                </div>
              </div>
              <!--*******************************************-->

              <!--Endereço-->
              <h4 class="titulo-sessao">Endereço</h4>

              <div class="row spacing">
                <div class="col-lg-8">
                  <input id="logradouro_input" name="logradouro" type="text" class="form-control" placeholder="Logradouro">
                </div>
                <div class="col-lg-2">
                  <input id="numero_input" name="numero" type="text" class="form-control" placeholder="Número">
                </div>
                <div class="col-lg-2">
                  <input id="complemento_input" name="complemento" type="text" class="form-control" placeholder="Complemento">
                </div>
              </div>

              <div class="row spacing">
                <div class="col-lg-3">
                  <input id="bairro_input" name="bairro" type="text" class="form-control" placeholder="Bairro">
                </div>
                <div class="col-lg-4">
                  <input id="cidade_input" name="cidade" type="text" class="form-control" placeholder="Cidade">
                </div>
                <div class="col-lg-3">
                  <input id="cep_input" name="cep" type="text" class="form-control" placeholder="CEP">
                </div>
                <div class="col-lg-2">
                    <select name="estado" class="form-control">
                      <option value="AC">AC</option>
                      <option value="AL">AL</option>
                      <option value="AM">AM</option>
                      <option value="AP">AP</option>
                      <option value="BA">BA</option>
                      <option value="CE">CE</option>
                      <option value="DF">DF</option>
                      <option value="ES">ES</option>
                      <option value="GO">GO</option>
                      <option value="MA">MA</option>
                      <option value="MG">MG</option>
                      <option value="MS">MS</option>
                      <option value="MT">MT</option>
                      <option value="PA">PA</option>
                      <option value="PB">PB</option>
                      <option value="PE">PE</option>
                      <option value="PI">PI</option>
                      <option value="PR">PR</option>
                      <option value="RJ">RJ</option>
                      <option value="RN">RN</option>
                      <option value="RO">RO</option>
                      <option value="RR">RR</option>
                      <option value="RS">RS</option>
                      <option value="SC">SC</option>
                      <option value="SE">SE</option>
                      <option value="SP">SP</option>
                      <option value="TO">TO</option>
                    </select>
                  </div>
                </div>
              </div>
              <!--************************************************-->
              
              <div class="row spacing">

                <!--Quadros Clínicos-->
                <div class="col-lg-6">

                  <h4 class="titulo-sessao">Quadro Clínico</h4>

                  <div class="list-group list-scroll">

                    @for(quadro <-lists.quadrosList){
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-lg-11">
                            <p style="margin-bottom:0px;">@quadro.getNome()</p>
                          </div>
                          <div class="col-lg-1">
                            <input type="checkbox" name="quadro_clinico" value="@quadro.getIdQuadroClinico()">
                          </div>
                        </div>
                    </div>
                    }                    

                  </div>
                </div>
                <!--************************************************-->

                <!--Alergias-->
                <div class="col-lg-6">

                  <h4 class="titulo-sessao">Alergias</h4>

                  <div class="list-group list-scroll">

                    @for(farmaco <-lists.farmacoList){

                    <div class="list-group-item">
                        <div class="row">
                          <div class="col-lg-11">
                            <p style="margin-bottom:0px;">@farmaco.getNome()</p>
                          </div>
                          <div class="col-lg-1">
                            <input type="checkbox" name="alergia" value="@farmaco.getIdFarmaco()">
                          </div>
                        </div>
                    </div>                    
                    }
                  </div>
                </div>

                <!--************************************************************-->
              </div>

              <input type="submit" value="Cadastrar" class="btn btn-style">

            </form>
      </div>
      <!--end intro-->

    </div>
     <!--end container-->
     
    <!--start footer-->
    <footer>
      <div class="container">  
        <div id="FooterTwo"> © 2014 SafePrescription </div>
      </div>
    </footer>
    <!--end footer-->

  </body>
</html>
