@(lists: views.PrescreverMedicamentoModelView)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>SafePrescription - Documentos</title>

    <link rel="icon"  href="@routes.Assets.at("/public/images/" ,"favicon.gif")" type="image/x-icon"/>
    <link rel="shortcut icon" href="@routes.Assets.at("/public/images/" , "favicon.gif")" type="image/x-icon"/> 
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/", "styles.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/","bootstrap-theme.css")"/>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("/public/stylesheets/","bootstrap.css")"/>

    <script type="text/javascript" src="@routes.Assets.at("/public/javascripts/", "jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("/public/javascripts/", "bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("/public/javascripts/", "scripts.js")"></script>
    		
  </head>

  <body>
  	
    <!--start container-->
    <div id="container">

      <!--start header-->
      <header>  
        <!--start logo-->
        <a href="index" id="logo"><img src="@routes.Assets.at("/public/images/", "logo.png")" alt="logo"/></a> 
      	<!--end logo-->
  	
        <!--start menu-->
      	<nav>
          <ul>
            <li><a href="cadastrar_paciente">Cadastrar Paciente</a></a></li>
          	<li><a href="prescrever_medicamento" class="current">Prescrever Medicações</a></a></li>
          </ul>
        </nav>
        <!--end menu-->
      
    	</header>
      <!--end header-->

      <!--start intro-->
      <div class="intro-2" >
      
            <h3 class="titulo">Prescrever Medicamentos</h3>
            <form method="post" action="salvar_prescricao">

              <!--Pesquisar Paciente-->
              <h4 class="titulo-sessao">Pesquisar Paciente</h4>

                  <div class="list-group list-scroll">

                    @for(paciente<- lists.pacienteList){
                      <div class="list-group-item">
                          <div class="row">
                            <div class="col-lg-11">
                              <p style="margin-bottom:0px;">@paciente.getNome()</p>
                            </div>
                            <div class="col-lg-1">
                              <input type="radio" name="paciente" value="@paciente.getIdPaciente()">
                            </div>
                          </div>
                      </div>                   
                    }
                  </div>
              <!--*******************************************-->          

                <!--Medicamentos-->

                  <h4 class="titulo-sessao">Medicamentos</h4>

                  <div id="lista_medicamentos" class="list-group list-scroll">                    

                    @for(medicamento <- lists.medicamentoList){
                      <div class="list-group-item">
                        <div class="row">
                          <div class="col-lg-11">
                            <p style="margin-bottom:0px;">@medicamento.getNome()</p>
                          </div>
                          <div class="col-lg-1">
                            <input id="@medicamento.getIdMedicamento()" name="medicamento" value="@medicamento.getIdMedicamento()" type="checkbox" onclick="if(this.checked){var div = $('#expansao_@medicamento.getIdMedicamento()'); div.collapse('show'); $('#@medicamento.getIdMedicamento()_posologia_input').prop('disabled',false); $('#@medicamento.getIdMedicamento()_via_input').prop('disabled',false);}else{$('#expansao_@medicamento.getIdMedicamento()').collapse('hide')}">
                          </div>
                          <div id="expansao_@medicamento.getIdMedicamento()" class="collapse expansao" role="tabpanel">
                            <div class="row">
                              <div class="col-lg-6">
                                <textarea id="@medicamento.getIdMedicamento()_posologia_input" name="posologia" type="text" class="form-control" placeholder="Posologia" rows="3" disabled="disabled"></textarea>
                              </div>
                              <div class="col-lg-6">
                                <textarea id="@medicamento.getIdMedicamento()_via_input" name="via" stype="text" class="form-control" placeholder="Via" rows="3" disabled="disabled"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>                    
                    }
                <!--************************************************-->

              </div>

              <input type="submit" value="Prescrever" class="btn btn-style"/>

            </form>
      </div>
      <!--end intro-->

    </div>
     <!--end container-->
     
    <!--start footer-->
    <footer>
      <div class="container">  
        <div id="FooterTwo"> © 2014 SafePrescription </div>
      </div>
    </footer>
    <!--end footer-->

  </body>
</html>
